<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Hamburger Sandwich Restaurant</title>
</head>

<body>
	<img src="hamburger.png" width="400px" id="burger">

	{{{ body }}}

</body>
</html>